.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.error {
  color: red;
  font-size: 2rem;
  margin-bottom: 1rem;
  height: 3rem;
  text-align: center;
}

.anonymization-options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.option-radio {
  display: flex;
}
.option-radio input {
  width: 1.5rem;
}

.checkbox-filter {
  margin-left: 2rem;
  margin-right: 1rem;
  width: 1.3rem !important;
}

.anonymization-options h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f5f5f5;
  transition: background-color 0.2s;
}

.option:hover {
  background-color: #eaeaea;
}

.option input[type="radio"] {
  margin-right: 0.5rem;
}

.option label {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
}

.description {
  margin: 0;
  font-size: 1.3rem;
  color: #666;
  padding-left: 2rem;
}

.submit-button {
  padding: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:active {
  transform: translateY(1px);
}

.sub-label {
  font-size: 1.5rem !important;
}

.sub-label-option {
  font-size: 2rem !important;
}

.option-radio-manual {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 2rem;
}
.option-radio-manual input {
  width: 1.5rem;
}

.checkbox-filter-manual {
  width: 1rem !important;
}

/* mobile */
@media (max-width: 768px) {
  .option label {
    font-size: 1.5rem;
  }
  .label-filter-option {
    font-size: 1rem !important;
  }
  .description {
    margin: 0;
    font-size: 1rem;
    color: #666;
    padding-left: 2rem;
  }
  .sub-label {
    font-size: 1rem !important;
  }
  .error {
    color: red;
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    text-align: center;
  }
}
