.footer {
  background-color: var(--main-background-color);
  color: var(--white);
  text-align: center;
  padding-block: 30px;
  min-height: 10vh;
  align-items: center;
}

.copyright {
  margin-block-end: 10px;
}

.copyright-link {
  display: inline-block;
}

.copyright-link:is(:hover) {
  text-decoration: underline;
  color: var(--theme-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-link {
  font-size: 17px;
}
.social-link:hover {
  color: var(--theme-color);
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (min-width: 768px) {
  /**
     * FOOTER
     */

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    margin-block-end: 0;
  }
}
